Monitor {
    width: 40%;
    height: auto;
    margin: 1;
    background: $boost;
}

BoolLabel {
    width: auto;
    height: auto;
}

.box {
    /* width: auto; */
    height: auto;
    background: $boost;
}

.label {
    height: 3;
    content-align: center middle;
    width: auto;
}

.title {
    background: $panel;
}

TitleLog {
    width: 59%;
    margin: 1;
}


TitleLog > TextLog {
    height: 4;
    margin: 0;
    background: $boost;
}

Check {
    layout: horizontal;
}
