Log {
    width: 100%;
    height: 6;
    margin-left: 1;
    margin-top: 1;
    background: $boost;
}

MyButton {
    width: auto;
    height: 3;
    margin-top: 1;
    margin-left: 1;
}

MyButton Static {
    width: 100%;
    height: 3;
    margin-left: 2;
    background: $boost;
}
