Monitor {
    width: 40%;
    height: auto;
    margin: 1;
    background: $boost;
}

#figlet {
    height: 5;
    margin: 0 0 0 10;
}

BoolLabel {
    width: auto;
    height: auto;
}

.box {
    width: auto;
    height: auto;
    background: $boost;
}

TitleLog {
    width: 59%;
    margin: 1;
}

.title {
    background: $panel;
}

TitleLog > TextLog {
    height: 3;
    margin: 0;
    background: $boost;
}
