Vertical,
Horizontal,
StatusMonitor,
Static {
    width: auto;
    height: auto;
    margin: 0 0 0 1;
}

Checkbox {
    width: auto;
    height: 3;
}

#hp_bar {
    color: red;
}

#mp_bar {
    color: blue;
}

.statusPannel {
    width: 38;
    background: $boost;
    padding: 1;
}