<!DOCTYPE html>
<html>

<head>
    <title>Slider</title>
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />

    <style>
        input {
            width: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
    <fieldset style="width:fit-content" , id="field_info">
        <legend>캡처</legend>
        <div class="field-row">
            <select style="width:237px" id="select_window">
                <option>-----</option>
            </select>
            <button id="btn_refresh_window" onclick="request_window_ary()">새로고침</button>
        </div>
        <div class="field-row">
            <img style="width:235px; height:130px" id="img_preview">
            <div class="field-row-stacked">
                <label id="window_width">- WIDTH : 1920</label>
                <label id="window_height">- HEIGHT: 1080</label>
                <label id="mouse_x">- MOUSE X : 0</label>
                <label id="mouse_y">- MOUSE Y : 0</label>
                <input id="crop_roi" type="text" style="width:75px">
                <button id="btn_crop">영역캡처</button>
            </div>
        </div>
    </fieldset>

    <fieldset style="width:fit-content">
        <legend>연결</legend>
        <div class="field-row">
            <select style="width:237px" id="select_port">
                <option>-----</option>
            </select>
            <button id="btn_refresh_port" onclick="request_port_ary()">새로고침</button>
        </div>
    </fieldset>

    <fieldset style="width:fit-content">
        <legend>타이머</legend>
        <div class="field-row">
            <input type="checkbox" id="timer1_run">
            <label for="timer1_run" style="width:30px">실행</label>
            <label>입력키:</label>
            <input id="timer1_key" type="text" style="width:125px">
            <label>쿨타임:</label>
            <input id="timer1_cool" type="text">
        </div>
        <div class="field-row">
            <input type="checkbox" id="timer2_run">
            <label for="timer2_run" style="width:30px">실행</label>
            <label>입력키:</label>
            <input id="timer2_key" type="text" style="width:125px">
            <label>쿨타임:</label>
            <input id="timer2_cool" type="text">
        </div>
        <div class="field-row">
            <input type="checkbox" id="timer3_run">
            <label for="timer3_run" style="width:30px">실행</label>
            <label>입력키:</label>
            <input id="timer3_key" type="text" style="width:125px">
            <label>쿨타임:</label>
            <input id="timer3_cool" type="text">
        </div>
    </fieldset>

    <fieldset style="width:fit-content" id="field_slot">
        <legend id="field_timer_lbl">이미지 분석</legend>
        <div class="field-row">
            <section class="tabs">
                <menu role="tablist" aria-label="Sample Tabs">
                    <button role="tab" aria-selected="true" aria-controls="tab-A">슬롯1</button>
                    <button role="tab" aria-controls="tab-B">슬롯2</button>
                    <button role="tab" aria-controls="tab-C">슬롯3</button>
                    <button role="tab" aria-controls="tab-D">슬롯4</button>
                    <button role="tab" aria-controls="tab-E">슬롯5</button>
                </menu>
                <article role="tabpanel" id="tab-A">
                    <div class="field-row">
                        <input type="checkbox" id="hp1_run">
                        <label for="hp1_run" style="width:30px">실행</label>
                        <label>관심영역</label>
                        <input id="hp1_roi" type="text" style="width:77px">
                        <label>사용구간:</label>
                        <input id="hp1_range" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp1_img_input" style="width:195px; height:10px">
                        <label>판정값</label>
                        <input id="hp1_thres" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp1_img_output" style="width:195px; height:10px">
                        <label>결과값</label>
                        <input id="hp1_res" type="text" disabled>
                    </div>
                    <div class="field-row">
                        <label>입력키:</label>
                        <input id="hp1_key" type="text" style="width:152px">
                        <label>쿨타임:</label>
                        <input id="hp1_cool" type="text">
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-B">
                    <div class="field-row">
                        <input type="checkbox" id="hp2_run">
                        <label for="hp2_run" style="width:30px">실행</label>
                        <label>관심영역</label>
                        <input id="hp2_roi" type="text" style="width:77px">
                        <label>사용구간:</label>
                        <input id="hp2_range" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp2_img_input" style="width:195px; height:10px">
                        <label>판정값</label>
                        <input id="hp2_thres" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp2_img_output" style="width:195px; height:10px">
                        <label>결과값</label>
                        <input id="hp2_res" type="text" disabled>
                    </div>
                    <div class="field-row">
                        <label>입력키:</label>
                        <input id="hp2_key" type="text" style="width:152px">
                        <label>쿨타임:</label>
                        <input id="hp2_cool" type="text">
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-C">
                    <div class="field-row">
                        <input type="checkbox" id="hp3_run">
                        <label for="hp3_run" style="width:30px">실행</label>
                        <label>관심영역</label>
                        <input id="hp3_roi" type="text" style="width:77px">
                        <label>사용구간:</label>
                        <input id="hp3_range" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp3_img_input" style="width:195px; height:10px">
                        <label>판정값</label>
                        <input id="hp3_thres" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp3_img_output" style="width:195px; height:10px">
                        <label>결과값</label>
                        <input id="hp3_res" type="text" disabled>
                    </div>
                    <div class="field-row">
                        <label>입력키:</label>
                        <input id="hp3_key" type="text" style="width:152px">
                        <label>쿨타임:</label>
                        <input id="hp3_cool" type="text">
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-D">
                    <div class="field-row">
                        <input type="checkbox" id="hp4_run">
                        <label for="hp4_run" style="width:30px">실행</label>
                        <label>관심영역</label>
                        <input id="hp4_roi" type="text" style="width:77px">
                        <label>사용구간:</label>
                        <input id="hp4_range" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp4_img_input" style="width:195px; height:10px">
                        <label>판정값</label>
                        <input id="hp4_thres" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp4_img_output" style="width:195px; height:10px">
                        <label>결과값</label>
                        <input id="hp4_res" type="text" disabled>
                    </div>
                    <div class="field-row">
                        <label>입력키:</label>
                        <input id="hp4_key" type="text" style="width:152px">
                        <label>쿨타임:</label>
                        <input id="hp4_cool" type="text">
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-E">
                    <div class="field-row">
                        <input type="checkbox" id="hp5_run">
                        <label for="hp5_run" style="width:30px">실행</label>
                        <label>관심영역</label>
                        <input id="hp5_roi" type="text" style="width:77px">
                        <label>사용구간:</label>
                        <input id="hp5_range" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp5_img_input" style="width:195px; height:10px">
                        <label>판정값</label>
                        <input id="hp5_thres" type="text">
                    </div>
                    <div class="field-row">
                        <img id="hp5_img_output" style="width:195px; height:10px">
                        <label>결과값</label>
                        <input id="hp5_res" type="text" disabled>
                    </div>
                    <div class="field-row">
                        <label>입력키:</label>
                        <input id="hp5_key" type="text" style="width:152px">
                        <label>쿨타임:</label>
                        <input id="hp5_cool" type="text">
                    </div>
                </article>
            </section>
        </div>
    </fieldset>

    <fieldset style="width:fit-content" id="field_slot">
        <legend id="field_timer_lbl">이미지 비교</legend>
        <div class="field-row">
            <section class="tabs">
                <menu role="tablist" aria-label="Tabs">
                    <button role="tab" aria-selected="true" aria-controls="tab-1">슬롯1</button>
                    <button role="tab" aria-controls="tab-2">슬롯2</button>
                    <button role="tab" aria-controls="tab-3">슬롯3</button>
                    <button role="tab" aria-controls="tab-4">슬롯4</button>
                    <button role="tab" aria-controls="tab-5">슬롯5</button>
                </menu>
                <article role="tabpanel" id="tab-1">
                    <div class="field-row">
                        <input type="checkbox" id="img1_run">
                        <label for="img1_run" style="width:30px">실행</label>
                        <button id="img1_path">파일열기</button>
                        <label>관심영역</label>
                        <input id="img1_roi" type="text" style="width:104px">
                    </div>
                    <div class="field-row">
                        <img id="img1_img" style="width:50px; height:50px">
                        <div class="field-row-stacked">
                            <div class="field-row">
                                <label>판정값</label>
                                <input id="img1_thres" type="text">
                                <label>결과값</label>
                                <input id="img1_res" type="text" disabled style="width:100px">
                            </div>
                            <div class="field-row">
                                <label>입력키</label>
                                <input id="img1_key" type="text" style="width:100px">
                                <label>쿨타임</label>
                                <input id="img1_cool" type="text">
                            </div>
                        </div>
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-2">
                    <div class="field-row">
                        <input type="checkbox" id="img2_run">
                        <label for="img2_run" style="width:30px">실행</label>
                        <button id="img2_path">파일열기</button>
                        <label>관심영역</label>
                        <input id="img2_roi" type="text" style="width:104px">
                    </div>
                    <div class="field-row">
                        <img id="img2_img" style="width:50px; height:50px">
                        <div class="field-row-stacked">
                            <div class="field-row">
                                <label>판정값</label>
                                <input id="img2_thres" type="text">
                                <label>결과값</label>
                                <input id="img2_res" type="text" disabled style="width:100px">
                            </div>
                            <div class="field-row">
                                <label>입력키</label>
                                <input id="img2_key" type="text" style="width:100px">
                                <label>쿨타임</label>
                                <input id="img2_cool" type="text">
                            </div>
                        </div>
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-3">
                    <div class="field-row">
                        <input type="checkbox" id="img3_run">
                        <label for="img3_run" style="width:30px">실행</label>
                        <button id="img3_path">파일열기</button>
                        <label>관심영역</label>
                        <input id="img3_roi" type="text" style="width:104px">
                    </div>
                    <div class="field-row">
                        <img id="img3_img" style="width:50px; height:50px">
                        <div class="field-row-stacked">
                            <div class="field-row">
                                <label>판정값</label>
                                <input id="img3_thres" type="text">
                                <label>결과값</label>
                                <input id="img3_res" type="text" disabled style="width:100px">
                            </div>
                            <div class="field-row">
                                <label>입력키</label>
                                <input id="img3_key" type="text" style="width:100px">
                                <label>쿨타임</label>
                                <input id="img3_cool" type="text">
                            </div>
                        </div>
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-4">
                    <div class="field-row">
                        <input type="checkbox" id="img4_run">
                        <label for="img4_run" style="width:30px">실행</label>
                        <button id="img4_path">파일열기</button>
                        <label>관심영역</label>
                        <input id="img4_roi" type="text" style="width:104px">
                    </div>
                    <div class="field-row">
                        <img id="img4_img" style="width:50px; height:50px">
                        <div class="field-row-stacked">
                            <div class="field-row">
                                <label>판정값</label>
                                <input id="img4_thres" type="text">
                                <label>결과값</label>
                                <input id="img4_res" type="text" disabled style="width:100px">
                            </div>
                            <div class="field-row">
                                <label>입력키</label>
                                <input id="img4_key" type="text" style="width:100px">
                                <label>쿨타임</label>
                                <input id="img4_cool" type="text">
                            </div>
                        </div>
                    </div>
                </article>

                <article role="tabpanel" hidden id="tab-5">
                    <div class="field-row">
                        <input type="checkbox" id="img5_run">
                        <label for="img5_run" style="width:30px">실행</label>
                        <button id="img5_path">파일열기</button>
                        <label>관심영역</label>
                        <input id="img5_roi" type="text" style="width:104px">
                    </div>
                    <div class="field-row">
                        <img id="img5_img" style="width:50px; height:50px">
                        <div class="field-row-stacked">
                            <div class="field-row">
                                <label>판정값</label>
                                <input id="img5_thres" type="text">
                                <label>결과값</label>
                                <input id="img5_res" type="text" disabled style="width:100px">
                            </div>
                            <div class="field-row">
                                <label>입력키</label>
                                <input id="img5_key" type="text" style="width:100px">
                                <label>쿨타임</label>
                                <input id="img5_cool" type="text">
                            </div>
                        </div>
                    </div>
                </article>
    </fieldset>

</body>
<script>
    const tabButtons = document.querySelectorAll("[role=tab]");
    tabButtons.forEach((tabButton) => {
        tabButton.addEventListener("click", (e) => {
            e.preventDefault();
            const tabContainer = e.target.parentElement.parentElement;
            const targetId = e.target.getAttribute("aria-controls");
            tabButtons.forEach((_tabButton) =>
                _tabButton.setAttribute("aria-selected", false)
            );
            tabButton.setAttribute("aria-selected", true);
            tabContainer
                .querySelectorAll("[role=tabpanel]")
                .forEach((tabPanel) => tabPanel.setAttribute("hidden", true));
            tabContainer
                .querySelector(`[role=tabpanel]#${targetId}`)
                .removeAttribute("hidden");
        });
    });

    const img_preview = document.getElementById("img_preview");
    window.resizeTo(400, 840);
    const key_ary = [
        "timer1_key",
        "timer1_cool",
        "timer2_key",
        "timer2_cool",
        "timer3_key",
        "timer3_cool",
        "hp1_roi",
        "hp1_range",
        "hp1_thres",
        "hp1_key",
        "hp1_cool",
        "hp2_roi",
        "hp2_range",
        "hp2_thres",
        "hp2_key",
        "hp2_cool",
        "hp3_roi",
        "hp3_range",
        "hp3_thres",
        "hp3_key",
        "hp3_cool",
        "hp4_roi",
        "hp4_range",
        "hp4_thres",
        "hp4_key",
        "hp4_cool",
        "hp5_roi",
        "hp5_range",
        "hp5_thres",
        "hp5_key",
        "hp5_cool",
        "img1_roi",
        "img1_thres",
        "img1_key",
        "img1_cool",
        "img2_roi",
        "img2_thres",
        "img2_key",
        "img2_cool",
        "img3_roi",
        "img3_thres",
        "img3_key",
        "img3_cool",
        "img4_roi",
        "img4_thres",
        "img4_key",
        "img4_cool",
        "img5_roi",
        "img5_thres",
        "img5_key",
        "img5_cool",
    ];


    // 입력 파라메터 변화 감지이벤트 추가
    key_ary.forEach(key => {
        if (key.indexOf("path") < 1) {
            document.getElementById(key).addEventListener("change", evt => {
                console.log(`${evt.target.id} - ${evt.target.value}`);
                update_params();
            });
        }
    });

    // 입력 파라메터 모으기
    const get_params = () => {
        const param = {}
        key_ary.forEach(key => {
            if (key.indexOf("path") < 1) {
                param[key] = document.getElementById(key).value    
            }
        });
        return param;
    }

    const update_params = () => {
        const param = get_params();
        fetch(`${window.location.href}update_params/${JSON.stringify(param)}`);
    }

    const apply_param = param => {
        key_ary.forEach(key => {
            if (key.indexOf("path") < 1) {
                document.getElementById(key).value = param[key];
            }
        });
    }

    // 실행 체크박스 변화 감지이벤트 추가
    const run_ele_ary = document.querySelectorAll("input[type='checkbox']");
    run_ele_ary.forEach(ele => {
        ele.addEventListener("change", evt => {
            console.log(`${evt.target.id} - ${evt.target.checked}`);
            update_run_state();
        });
    });
    
    const get_run_state = () => {
        const param = {};
        run_ele_ary.forEach(ele => {
            param[ele.id] = ele.checked;
        });
        return param;
    }

    const update_run_state = () => {
        const param = get_run_state();
        fetch(`${window.location.href}update_run_state/${JSON.stringify(param)}`);
    }

    // Select 변화 감지이벤트 추가
    const select_ele_ary = document.querySelectorAll("select")
    select_ele_ary.forEach(ele => {
        ele.addEventListener("change", evt => {
            if (evt.target.value != "-----") {
                console.log(`${evt.target.id} - ${evt.target.value}`);
                if (evt.target.id == "select_window") {
                    fetch(`${window.location.href}update_window/${evt.target.value}`);
                }
                if (evt.target.id == "select_port") {
                    fetch(`${window.location.href}update_port/${evt.target.value}`);
                }
            }
        });
    });


    // Win Select 목록 업데이트
    const apply_select = (id, data) => {
        const element = document.getElementById(id);
        element.innerHTML = "<option>-----</option>"
        data.forEach(d => {
            const opt = document.createElement("option");
            opt.innerHTML = d;
            element.appendChild(opt);
        });
    }

    
    // 서버에 윈도우목록 요청하여 업데이트하기
    const request_window_ary = () => {
        fetch(`${window.location.href}request_window`)
        .then(res => res.json())
        .then(data => {
            console.log(data.value);
            apply_select("select_window", data.value);
        });
    }

    // 서버에 포트목록을 요청하여 업데이트하기
    const request_port_ary = () => {
        fetch(`${window.location.href}request_port`)
        .then(res => res.json())
        .then(data => {
            console.log(data.value);
            apply_select("select_port", data.value);
        });
    }

    // 서버에 파라메터를 요청해 업데이트하기
    const request_param = () => {
        fetch(`${window.location.href}request_param`)
        .then(res => res.json())
        .then(data => {
            console.log(data);
            apply_param(data);
        });
    }

    // 서버에 파일오픈 신호 보내기
    const select_file = key => {
        fetch(`${window.location.href}select_file/${key}`)
    }

    // 이미지 파일열기 버튼에 이벤트 추가하기
    document.querySelectorAll("button").forEach(btn => {
        if (btn.id.indexOf("path") > 0) {
            btn.addEventListener("click", () => {
                select_file(btn.id);
            });
        }
    });

    // SSE(Server Sent Event)
    let temp;
    const sse = new EventSource("/update_frame");
    sse.onmessage = evt => {
        temp = evt;
        const pre = "data:Image/png;base64,"
        const data = JSON.parse(evt.data);
        if (data.hasOwnProperty("preview") == true) {
            img_preview.src = pre + data["preview"].slice(2,-1);
        }
    }

    window.onload = () => {
        request_window_ary();
        request_port_ary();
        update_run_state();
        request_param();
    }


</script>
</html>
